<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Regra para redirecionar as requisições para o servidor Node.js rodando em localhost:3002 -->
                <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="api/(.*)" /> <!-- Rota diferente, como "/api" -->
                    <action type="Rewrite" url="http://localhost:3002/{R:1}" />
                </rule>
                
                <!-- Regra para redirecionar para o servidor estático em 172.16.60.35 -->
                <rule name="ReverseProxyInboundRule3" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://172.16.60.35/hogwarts_site/src/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

